
/* font */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;1000&family=Reem+Kufi&display=swap');

/* font End */



.text{
  font-family: 'Cairo', sans-serif;
font-family: 'Reem Kufi', sans-serif;
margin: 50px;
}
/* interFace design */

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;

  flex-direction: column;
  height: 90vh;
  
  

}


.btn{
  display: flex;
  gap: 10px;
 
}
.btn button{
  background-color: rgb(20, 220, 163);
  padding: 4px;
  border: none;
  cursor: pointer;
  
}


/* logIn-form */
.logIn-form{
  border: 1px solid black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.logIn-fieldset{
  display: flex;
  align-items: center;

  flex-direction: column;
  gap: 10px;
  padding: 50px;
}
.logIn-fieldset button{
  background-color: rgb(20, 220, 163);
  border: none;
  
}

/* grid */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --PrimaryFontFamily: "Poppins", sans-serif;
  --BackgroundColor: #f6f1f1;
  --HoverBoxShadow: 0 4px 10px #000;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--BackgroundColor);
  height: 100vh;
  padding: 40px;
  font-family: var(--PrimaryFontFamily);
}

.sub {
  font-weight: 400;
  font-size: 20px;
}

.grid-container {
  display: grid;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
  margin: 0 auto;
  grid-template-areas:
    "block1 block1"
    "block2 block3"
    "block4 block5";
}

.block {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: relative;
}

.block:hover {
  cursor: pointer;
}

.block .image {
  height: 100%;
  width: 100%;
}

.block .image img:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  box-shadow: var(--HoverBoxShadow);
}

.block .title {
  position: absolute;
  bottom: 0;
  color: white;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.block .title .sub {
  font-size: 14px;
}

.block .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(50%);
}

.block-1 {
  grid-column: block1;
}

.block-2 {
  grid-column: block2;
}

.block-3 {
  grid-area: block3;
}

.block-4 {
  grid-area: block4;
}

.block-5 {
  grid-area: block5;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-areas:
      "block1 block1 block2 block3"
      "block1 block1 block4 block5";
  }

  .block-1 {
    grid-row: 1 / span 2;
  }

  .block .title .sub {
    font-size: 20px;
  }
}
